*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 100%;
    height: 100vh;
    border-bottom: solid 30px green;
    margin: 0 auto;
    position: relative; /* tentar no portfolio */
    overflow: hidden; /*o que está fora do game board não aparece na tela*/
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.pipe{
    /* definir todas as imagens como absolute para que nenhuma interfira na outra */
    position: absolute;
    bottom: 0;
    width: 5rem;
    /* definindo animação do tubo */
    animation: pipe-animation 1.4s infinite linear;
    /* left: 120px; */
}

.mario {
    position: absolute;
    width: 9.375rem;
    bottom: 0;

}

.clouds {
    position: absolute;
    width: 25rem;
    animation: clouds-animation 20s infinite linear;
    padding-top:1rem;
}

/* criando uma classe para o evento jump */
.jump{
    animation: jump 500ms ease-out;
}

/* definindo onde a animação do pipe vai começar e terminar */
@keyframes pipe-animation{
    from {
        /*fazendo com que a animação comece fora da tela*/
        right: -5rem;
    }

    to {
        right: 100%;
    }
}

@keyframes clouds-animation {
    from{
        right: -25rem;
    }

    to {
        right: 100%;
    }
}

/* definido até onde vai a animação do salto */
@keyframes jump {
    /* começo da animação */
    0%{
        bottom: 0;
    }

    40%{
        bottom: 9.375rem;
    }

    /* meio da animação */
    50%{
        bottom: 9.375rem;
    }

    60%{
        bottom: 9.375rem;
    }

    /* fim da animação */
    100%{
        bottom: 0;
    }
}